# Django-specific files
*.log
*.pot

local_settings.py


# Virtual Environment
.env
mvenv/
env/

# IDE-specific files (e.g., PyCharm)
.idea/

# Operating system files (e.g., macOS)
.DS_Store
# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore database
db.sqlite3

# Ignore media uploads
/media/
